<launch>
  
  <param name="use_sim_time" value="true" />

  <!-- 直接載入 world（不 spawn 預設 TurtleBot3） -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_house.world" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- 匯入自己的機器人模型 -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find final_robot_test_description)/urdf/final_robot_test.xacro'" />

  <!-- Spawn 機器人 -->
  <node name="spawn_my_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -model final_robot -x 0 -y 0 -z 0.1"
        output="screen"/>

<!-- 廣播 TF -->
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
  <param name="publish_frequency" type="double" value="50.0" />
</node>

<!-- 如果沒有實體 joint controller，用這個產生假 joint 狀態（適合模擬） -->
<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />


</launch>